main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 10%;
}
.blogdesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    border-radius: 0;
    padding: 1em;
    margin: 1em;
}

.blog__btn{
    text-decoration: none;
    color: black;
    background-color: coral;
    min-width: 150px;
    padding: 0.5em;
    border:none;
    border-radius: 0.25em;
    margin:  0.5em;
}

.blog__btn.readmore{
    max-width: 300px;
    padding: 0.75em;
    margin: 2em;
}
.blog__btn:hover{
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}
.blog__btn:active{
    background-color: rgb(51, 48, 48);
}
@media screen and (min-width: 760px){
    main{
        margin: 1em 3em;
    }
    .blogdesc{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .box.blog{
        width: 28.5%;
    }
    
}